body {
  background: aqua;
}

.card-box:hover > :not(:hover) {
  opacity: 0.5;
}

.card {
  box-shadow: 8px 8px 8px;
  background: transparent;
  transition: opacity 0.9s ease;
  transition: 0.8s;
}

.card:hover {
  text-shadow: 0 0 10px black;
  font-weight: bolder;
  transform: perspective(1200px) rotatey(20deg);
}

.btn {
  background: rgb(0, 182, 182);
  border-color: rgb(0, 182, 182);
}
